@import "../node_modules/videojs-font/css/videojs-icons.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color: var(--app-color);
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--app-background-color);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-background: #40729d;
  --button-hover-background: #305273;
  --button-color: var(--app-color);
  --button-border-radius: 0.5em;
  --app-background-color: #242424;
  --app-color: rgb(255 255 255 / 87%);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex-shrink: 0;
  margin: 0 2em;
}

header h1 {
  display: flex;
  align-items: center;
}

header .logo {
  height: 1.5em;
}

header p {
  margin-left: 0.5em;
  padding-left: 0.5em;
  text-align: justify;
  border-left: 3px solid var(--app-color)
}

main {
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0 2em;
  overflow: hidden;
}

preview-box, css-editor {
  display: flex;
  flex: 1;
  overflow: hidden;
}

footer {
  display: flex;
  align-items: center;
  padding: 1em 0;

  .logo {
    display: flex;
    margin-right: 1em;

    img {
      height: 1.5em;
    }
  }
}

.section-title-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

/*
 * TODO: Adjust .monaco-container dimensions to ensure full parent coverage.
 *
 * The component is currently rendered in the light DOM due to a workaround for the Monaco Editor color picker issue:
 * https://github.com/microsoft/monaco-editor/issues/3845
 *
 * Remove once the issue has been resolved.
 */
.monaco-container {
  width: 100%;
  height: 100%;
}

#download {
  padding: 1em;
  color: var(--button-foreground);
  background: var(--button-background);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#download:hover {
  background-color: var(--button-hover-background);
}

input {
  margin: 0;
  padding: 0.5em 0.2em;
  color: var(--app-color);
  font-size: var(--size-3);
  background-color: var(--app-background-color);
  border: none;
  outline: none;
}
