:host {
  --dialog-padding: 1em;
  --dialog-background-color: #1e2126;
  --dialog-border: 1px solid #33383f;
  --dialog-color: rgb(255 255 255 / 87%);
  --dialog-title-font-weight: 600;
  --dialog-border-radius: 6px;
  --dialog-max-width: 360px;
  --accept-button-background: #9D4040;
  --accept-button-hover-background: #733030;
  --cancel-button-background: rgb(255 255 255 / 0%);
  --cancel-button-hover-background: rgb(255 255 255 / 10%);
  --cancel-button-hover-color: rgb(235 238 241 / 92%);
  --button-color: rgb(235 238 241 / 92%);
  --button-border-radius: 4px;
}

dialog {
  max-width: var(--dialog-max-width);
  padding: var(--dialog-padding);
  overflow: visible;
  color: var(--dialog-color);
  background-color: var(--dialog-background-color);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
}

dialog::backdrop {
  background: rgb(0 0 0 / 50%);
}

::slotted([slot="title"]) {
  font-weight: var(--dialog-title-font-weight);
}

::slotted([slot="content"]) {
  text-align: justify;
}

[part="body"] {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

[part="actions"] {
  display: flex;
  gap: 0.5em;
  justify-content: right;
}

[part~="button"] {
  padding: 0.5em 0.9em;
  color: var(--button-color);
  font-weight: 500;
  font-size: 0.95em;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

[part="button cancel"] {
  background: var(--cancel-button-background);
}

[part="button cancel"]:hover {
  color: var(--cancel-button-hover-color);
  background-color: var(--cancel-button-hover-background);
}

[part="button accept"] {
  background: var(--accept-button-background);
}

[part="button accept"]:hover {
  background-color: var(--accept-button-hover-background);
}
