:host {
  --cd-padding: var(--dialog-padding, 1em);
  --cd-background: var(--dialog-background-color, #242424);
  --cd-border: var(--dialog-border, 1px solid #666);
  --cd-color: var(--dialog-color, rgb(255 255 255 / 87%));
  --cd-title-font-weight: var(--dialog-title-font-weight, 600);
  --cd-border-radius: var(--dialog-border-radius, 0.5em);
  --cd-max-width: var(--dialog-max-width, 360px);
  --cd-accept-background: var(--accept-button-background, #9d4040);
  --cd-accept-hover-background: var(--accept-button-hover-background, #733030);
  --cd-cancel-background: var(--cancel-button-background, rgb(255 255 255 / 0%));
  --cd-cancel-hover-background:
    var(--cancel-button-hover-background, rgb(255 255 255 / 20%));
  --cd-cancel-hover-color: var(--cancel-button-hover-color, rgb(0 0 0 / 87%));
  --cd-button-color: var(--button-color, rgb(255 255 255 / 87%));
  --cd-button-border-radius: var(--button-border-radius, 0.5em);
}

dialog {
  max-width: var(--cd-max-width);
  padding: var(--cd-padding);
  overflow: visible;
  color: var(--cd-color);
  background-color: var(--cd-background);
  border: var(--cd-border);
  border-radius: var(--cd-border-radius);
}

dialog::backdrop {
  background: rgb(0 0 0 / 50%);
}

::slotted([slot="title"]) {
  font-weight: var(--cd-title-font-weight);
}

::slotted([slot="content"]) {
  text-align: justify;
}

[part="body"] {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

[part="actions"] {
  display: flex;
  gap: 0.5em;
  justify-content: right;
}

[part~="button"] {
  padding: 0.5em 0.9em;
  color: var(--cd-button-color);
  font-weight: 500;
  font-size: 0.95em;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-radius: var(--cd-button-border-radius);
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

[part="button cancel"] {
  background: var(--cd-cancel-background);
}

[part="button cancel"]:hover {
  color: var(--cd-cancel-hover-color);
  background-color: var(--cd-cancel-hover-background);
}

[part="button accept"] {
  background: var(--cd-accept-background);
}

[part="button accept"]:hover {
  background-color: var(--cd-accept-hover-background);
}
