:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-inline: var(--resizable-bar-margin-inline);

  --resizable-bar-margin-inline: 1em;
  --resizable-bar-resizer-bg-color: #575454;
  --resizable-bar-resizer-width: 0.3em;
  --resizable-bar-resizer-height: 50%;
  --resizable-bar-resizer-border-radius: 5px;
}

[part="resizer"] {
  width: var(--resizable-bar-resizer-width);
  height: var(--resizable-bar-resizer-height);
  background-color: var(--resizable-bar-resizer-bg-color);
  border-radius: var(--resizable-bar-resizer-border-radius);
  cursor: ew-resize;
}
